ServerAdmin webmaster@localhost

Include /var/www/<% name %>/apache/httpd.conf


ErrorLog /var/www/<%= name %>/apache/logs/error.log

# Possible values include: debug, info, notice, warn, error, crit,
# alert, emerg.
LogLevel info

CustomLog /var/www/<%= name %>/apache/logs/access.log combined

