<VirtualHost *:80>
# Enable Authorization headers for basic auth
ServerName <%= name %>
ErrorLog "/var/log/apache2/error-<%= name %>.log"
CustomLog "/var/log/apache2/access-<%= name %>.log" common

WSGIPassAuthorization On

AliasMatch ^/$ /var/www/<%= name %>/static-data/ui/dev/index.html

Alias /index.html /var/www/<%= name %>/static-data/ui/dev/index.html
Alias /index /var/www/<%= name %>/static-data/ui/dev/index.html
Alias /search /var/www/<%= name %>/static-data/ui/dev/search.html
Alias /register /var/www/<%= name %>/static-data/ui/dev/create_new_account.html
Alias /categories /var/www/<%= name %>/static-data/ui/dev/allcategories.html
Alias /category /var/www/<%= name %>/static-data/ui/dev/category.html
Alias /create /var/www/<%= name %>/static-data/ui/dev/createnew.html
Alias /content /var/www/<%= name %>/static-data/ui/dev/content_profile.html
Alias /favicon.ico /var/www/<%= name %>/static-data/ui/dev/favicon.ico
Alias /dev /var/www/<%= name %>/static-data/ui/dev
Alias /devwidgets /var/www/<%= name %>/static-data/ui/devwidgets
#
# do
# cd /var/www/<%= name %>/app/oae 
# python manage.py collectstatic 
# to populate oae/staticroot
#
Alias /static/admin /var/www/<%= name %>/static-data/staticroot/admin

WSGIScriptAlias / /var/www/<%= name %>/htdocs/dj_oae.wsgi


<Directory /var/www/<%= name %>/htdocs>
<Files dj_oae.wsgi>
            Order deny,allow
            Allow from all
</Files>
</Directory>
<Directory /var/www/<%= name %>/static-data/ui>
            Order deny,allow
            Allow from all
            ExpiresActive On
            ExpiresDefault "access plus 12 hours"
# Only enable this if you have hashed all the UI assets, once you do it, users wont revalidate the assets.
# To do this, checkout the ux code at the 1.2.0 tag,
# mvn -Psakai-release clean install
# wait... forever... for... the mvn build to complete.
# extract /dev and /devwidgets from /SLING-INF/content/var in the jar  target/org.sakaiproject.nakamura.uxloader-1.2-SNAPSHOT.jar          
#           ExpiresDefault "access plus 1 month"
# The following should stop the browser revalidating wasting http round trips
            Header set Cache-Control "cache;max-age=43200"
            Header unset ETag
            Header unset Last-Modified 
</Directory>
<Directory /var/www/<%= name %>/static-data/staticroot/admin>
            Order deny,allow
            Allow from all
            ExpiresActive On
            ExpiresDefault "access plus 12 hours"
# The following should stop the browser revalidating wasting http round trips
            Header set Cache-Control "cache;max-age=43200"
            Header unset ETag
            Header unset Last-Modified
</Directory>

</VirtualHost>
