DATABASES = {
        'default': {
            'ENGINE': 'django.db.backends.postgresql_psycopg2', # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
            'NAME': '<%= db_name %>',                      # Or path to database file if using sqlite3.
            'USER': '<%= db_user %>',                      # Not used with sqlite3.
            'PASSWORD': '<%= db_password %>',                  # Not used with sqlite3.
            'HOST': '<%= db_host %>',                      # Set to empty string for localhost. Not used with sqlite3.
            'PORT': '<%= db_port %>',                      # Set to empty string for default. Not used with sqlite3.
            'OPTIONS': {
                        'autocommit': True,   # If you set this to False, a transaction will be created every time even if the app doesnt use it. Dont set it to False, transactions are managed differently.
            }
        },
    }


TIME_ZONE = "Europe/London"

LANGUAGE_CODE = 'en-GB'

BASIC_WWW_AUTHENTICATION = False

